* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
}

.container {
  text-align: center;
  max-width: 1200px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.search {
  margin-bottom: 20px;
}

.search label {
  font-weight: bold;
  color: #555;
}

.search input {
  padding: 8px;
  font-size: 1em;
  width: 100%;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#weather-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.city {
  padding: 20px;
  background-color: #ffdab9;
  /* Peach background color */
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.city h2 {
  color: #d2691e;
  /* Dark peach color for city name */
  font-size: 1.2em;
  margin-bottom: 10px;
}

.city p {
  margin: 5px 0;
  color: #555;
}